.navbar, .footer, .card-header{
    background-color: blue !important;
    color: orange;
}

.pb2.mt-4.mb-2.border-bottom h3, pb-2.mt-4.mb-2.border-botton h1{
    white-sapce: pre-wrap;
    text-align: left;
    line-height: 1.5;
}

@media (min-width: 1025px){
    .navbar-nav{
        background-image: url(tux-bot.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        padding-left: 75px;
    }
}

.footer div span{
    display: none;
}

.footer div:after {
    content: 'Direitos reservados para AutoTestTux'
}